/* Padding for fixed top navbar */
body { padding-top: 70px; }
.anchor-fix {
    display: block;
    position: relative;
    visibility: hidden;
    padding-top: 70px;
    margin-top: -70px;
}

/* Spacing and what not */
.page-header { margin-top: 0; }
.row-content-top { margin-bottom: 10px; }
.navbar-brand {
    position: relative;
    background: url(../img/logo-2.png);
    width: 72px;
    left: 20px;
    background-size: contain;
}
#Step2Para5_2Left > .panel-body li {
    margin-left: -20px;
}
.navbar-inverse {
    background-color: #ccc;
}
